[submodule "rose-pine"]
	path = rose-pine
	url = https://github.com/rose-pine/gnome-terminal
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
