[user]
{{- if eq .chezmoi.hostname "DESKTOP-SV496BN" }}
    email = amiller.swe@pm.me
    name = SuborbitalSentinel
{{- else }}
    email = adam.miller@newmill.com
    name = Adam Miller
{{- end }}
[fetch]
    prune = true
[push]
    default = upstream
[pull]
    rebase = true
[branch "master"]
    mergeOptions = --ff-only
[core]
    trustctime = false
    ignorecase = true
    filemode = false
    editor = nvim
    pager = delta --diff-so-fancy
[alias]
    last = log -1 --stat
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
[merge]
        tool = nvim
[mergetool]
        prompt = false
        keepBackup = false
[mergetool "nvim"]
        cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c \"wincmd l\" -c \"wincmd l\" -c \"wincmd l\" -c \"wincmd l\" -c \"wincmd J\"
